@model AcmeMenwear.Models.Product

@{
    ViewBag.Title = "Details";
}


@*<div>
    <h3>@Html.DisplayFor(model => model.ProductTitle)</h3>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Image))
        {
            <dt>
                Product Image
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Image).FileId" alt="Product Image" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<div class="row product-details-wrap">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">ADD TO CART</a>
            <a href="#" class="list-group-item">CHECK AVAILABILITY</a>
            <a href="#" class="list-group-item">SIZE GUIDE</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="thumbnail">
            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Image).FileId" alt="Product Image" style="width:840px;height:600px" />

            <div class="caption-full">
                <h4 class="pull-right">@Html.DisplayFor(model => model.ProductPrice)</h4>

                <h4>
                    <a href="#">@Html.DisplayFor(model => model.ProductTitle)</a>
                </h4>

                <h4>Description:</h4>
                <p>@Html.DisplayFor(model => model.ProductDescription)</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>
</div>